@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #ff8b38;
    --secondary-color: #333333;
    --bg-color-gray: #f5f5f5;
    --title-color: #212121;
    --text-color: #86878b;
    --default-border-radius: 4px;
}

body {
    font-family: 'Open Sans';
}

header, .section-flex-content-wrapper {
    padding: 0 150px;
    display: flex;
}

.section-grid-content-wrapper {
    display: grid;
    place-items: center;
    gap: 30px;
    padding-top: 109px;
}

header {
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding-top: 23px;
    padding-bottom: 23px;
    position: relative;
}

nav {
    display: inherit;
    gap: 50px;
    font-weight: 400;
    font-size: 14px;
    opacity: 0.690;
}

button {
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 600;
}

input {
    filter: drop-shadow(0px 1px 0px rgba(0,0,1,0.16));
    color: var(--text-color);
}

.section-title {
    font-size: 36px;
    line-height: 43px;
    color: var(--title-color);
    font-family: "Raleway";
    text-align: center;
    text-transform: uppercase;
}

.primary-heading, .secondary-heading {
    font-size: 20px;
    font-weight: 700;
    
}

.primary-heading {
    color: var(--title-color);
    
}

.secondary-heading {
    color: var(--secondary-color);
}

.text {
    color: var(--text-color);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: "Open Sans";
}

.divider {
    background-color: var(--primary-color);
    width: 64px;
    height: 2px;
    margin: 0;
    border: none
}

.primary-btn {
    background-color: var(--primary-color);
    color: white;
    height: 46px;
    border-radius: var(--default-border-radius);
    padding: 16px 25px;
}

.outlined-btn {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    padding: 13px 32px;
    height: 42px;
}

.important-text {
    color: var(--primary-color);
    text-transform: uppercase;
}

.hero {
    background-image: url(../assets/hero/hero-image.svg);
    background-color: black;
    color: white;
    margin-top: -116px;
    padding-top: 216px;
    padding-bottom: 140px;
}

.hero > .section-flex-content-wrapper {
    gap: 222px
}

.hero-logo {
    width: 175px;
    height: 60px;
}

.hero-text {
    display: inherit;
    flex-direction: column;
    gap: 33px;
}

.hero-title {
    color: white;
    text-align: initial;
}

.hero-paragraph {
    opacity: 0.8;
    font-size: 16px;
    line-height: 23px;
    font-weight: 300;
    font-family: "Raleway";
}

.hero-text .divider {
    width: 74px;
    background-color: white;
}

.hero-text .outlined-btn {
    width: fit-content;
}

.hero-form-wrapper {
    display: grid;
    text-align: center;
    min-width: 360px;
    height: 360px;
    background-color: white;
    text-transform: capitalize;
    grid-template-rows: 54px auto 54px;
    border-radius: var(--default-border-radius);
    margin-top: 30px;
}

.hero-form-wrapper form {
    display: inherit;
    gap: 40px;
    margin: 40px 45px;
    font-size: 15px;
}

.hero-form-wrapper p {
    background-color: var(--bg-color-gray);
    padding: 18px 0 15px 0;
    height: fit-content;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.hero-form-wrapper button {
    background-color: var(--primary-color);
    color: white;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.social-media > .section-flex-content-wrapper {
    gap: 87px;
    align-items: center;
    padding-top: 22px;
    padding-bottom: 22px;
}

.social-media-heading {
    margin-bottom: 12px;
}

#features .section-one {
    display: flex;
    gap: 100px;
    background-color: var(--bg-color-gray);
    padding-top: 148px;
    padding-bottom: 114px;
}

.tab {
    display: grid;
    place-items: center;
    width: 112px;
    aspect-ratio: 1 / 1;
    background-color: var(--secondary-color);
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    cursor: pointer;
}

.selected-tab {
    background-color: var(--primary-color);
}

.tab + .tab {
    margin-top: 1px;
}

.tab-content {
    padding-top: 8px;
    padding-bottom: 24px;
}

.tab-content .primary-heading,
.tab-content .text {
    margin-bottom: 50px;
}

#features .image-wrapper {
    align-self: center;
}

#features .section-two,
#features .section-three {
    gap: 160px;
}

#features .section-two {
    padding-top: 108px;
    padding-bottom: 110px; 
}

#features .section-three {
    padding-top: 76px;
    padding-bottom: 74px;
    background-color: var(--bg-color-gray);
}

.sub-list-section,
.sub-list-section ul,
.standard-picture-section {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.standard-picture-section {
    margin-top: 32px;
}

.sub-list-section ul li {
    display: flex;
    gap: 30px;
}

.sub-list-section .li-title {
    font-size: 14px;
    line-height: 17px;
    color: var(--title-color);
    font-weight: 600;
    margin-bottom: 9px;
}

.sub-list-section ul li:nth-of-type(odd)::before {
    content: url(/assets/icons/upload-icon-overlay.png);
}

.sub-list-section ul li:nth-of-type(even)::before {
    content: url(/assets/icons/download-icon-overlay.png);
}

.card {
    display: grid;
    place-items: center;
    text-align: center;
}

#about  {
    padding: 0 143px;
    padding-bottom: 105px;
}

#about .section-flex-content-wrapper {
    margin-top: 80px;
    gap: 32px;
    padding: 0;
    justify-content: center;
}

#about .section-flex-content-wrapper .card {
    gap: 25px;
}

#pricing {
    padding: 0 145px;
    padding-bottom: 95px;
    background-color: var(--bg-color-gray);
}

#pricing .section-flex-content-wrapper {
    margin-top: 80px;
    gap: 40px;
    padding: 0;
    justify-content: center;
}

#pricing .section-flex-content-wrapper .card {
    width: 343px;
    justify-items: stretch;
    align-content: end;
}

#pricing .card > .card-header > .secondary-heading {
    color: white;
}

.card-header, .card-content {
    background-color: var(--secondary-color);
    color: white;
}

.card-header {
    padding: 21px 0;
    margin-bottom: 1px;
}

.card-content .plan-price {
    font-size: 94px;
    font-family: "Raleway";
    font-weight: 700;
}

.card-content {
    height: fit-content;
}

.card-content .text {
    font-style: italic;
    margin-bottom: 18px;
}

.card-content .most-popular {
    background-color: var(--primary-color);
    padding: 14px 0;
}

.card-content .plan-price::before {
    content: "$";
    font-size: 35px;
    line-height: 24px;
    color: #ffffff;
}

.card-content .divider {
    width: 100%;
    height: 5px;
}

.card-details {
    display: inherit;
    gap: 1px;
}

.card-details li {
    padding: 14px 0;
    background-color: white;
    text-transform: uppercase;
}
